* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #295e34;
}

.header {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
}

.header .logo, .hero h1, .hero button, .ads button, .ads h3 {
    color: #F9FAF8;
}

.header .logo {
    font-size: 24px;
}

.header .links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

.links a {
    text-decoration: none;
}

.links a, .hero p, .ads p, .copyright {
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 100px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.hero .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    gap: 10px;
}

.hero button, .ads button {
    padding: 10px 30px;
    background-color: #9e2f2b;
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 15px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
}

.hero img {
    height: 400px;
}

.content {
    display: flex;
    padding: 100px 0;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.content .heading {
    color: #295e34;
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    flex: 0;
}

.content-description img {
    height: 150px;
    border-color: #9e2f2b;
    border-style: groove;
    border-radius: 4px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 500px;
    gap: 10px;
    color: #295e34;
}

.quote-container .quote {
    font-size: 36px;
    font-weight: 100;
}

.quote-container .credit {
    align-self: flex-end;
    font-size: 24px;
    padding-right: 10px;
}

.ads-container {
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ads-container .ads {
    background-color: #9e2f2b;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    border-radius: 8px;
    flex-wrap: wrap;
}

.ads a {
    align-self: center;
}

.ads h3 {
    font-size: 20px;
}

.ads button {
    border-color: #E5E7EB;
    border-style: groove;
}

.footer {
    background-color: #295e34;
    display: flex;
    justify-content: center;
    padding: 50px 300px;
}

.footer-container {
    display: flex;
}

.copyright {
    flex-shrink: 0;
}