* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.top, .content {
    padding: 0 300px;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
}

.header .logo, .hero h1, .hero button {
    color: #F9FAF8;
}

.header .logo {
    font-size: 24px;
    flex: 0 0 520px;
}

.header .links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

.links a {
    text-decoration: none;
}

.links a, .hero p {
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 100px 0;
    gap: 100px;
}

.hero .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero button {
    padding: 10px 30px;
    background-color: #3882F6;
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 15px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
}

.hero img {
    height: 400px;
}

.content img {
    height: 200px;
}