* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header .logo, .hero h1 {
    color: #F9FAF8;
}

.header .links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
}

.links a, .hero p {
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    size: 48px;
}

.hero p {
    size: 18px;
}

.hero img {
    height: 400px;
}